.main-h1 {
	font-weight: 200;
	color: #cacaca;
	font-size: 18pt;
	text-align: center;
	margin-bottom: 1em;
}

html {
	background-color: #161616;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}


.title-divide {
	border: #343434 solid 1px;
}

.h2-generic {
	margin-left: 0.5em;
	color: #cacaca;
	font-size: 24pt;
	font-weight: 600;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.h1-generic {
	margin-left: 0.75em;
	color: #838383;
	font-size: 14pt;
	font-weight: 400;
	line-height: 19pt;
}

.root-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
}
.block-div {
	flex-direction: column;
	padding: 1.5em;
}

.link-div {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.link-div a {
	font-size: 32pt;
	font-weight: 600;
	color: #00e1a2;
	padding: 0.5em 0.8em;
}

.link-div a:visited {
	color: #2c6253;
}

@media only screen and (min-width: 768px) {
    .block-div {
		padding: 3.5em;
		border-radius: 2em;
		outline: #2a2a2a solid 2px;
		background-color: #181818;
    }
}
